.card,
.grid-card {
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  position: relative;

  &:hover {
    transform: scale(0.95);
    z-index: 2;
  }

  .card-img {
    min-width: 290px;
    height: 212px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @media (max-width: 480px) {
      min-width: 260px;
      height: 182px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carousal-card {
    width: 85%;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 0.7rem;
    margin-left: 0.3rem;
  }

  h2,
  .rating {
    font-size: 16px;
    font-weight: 600;
    color: rgba(2, 6, 12, 0.75);
  }

  .rating {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    width: 1rem;
  }
}

.card {
  width: 300px;
}
.top-carousal-card {
  width: 140px;
}
