.top-container {
  background-color: #f4ecec;
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
  height: 220px;
  margin: auto;
  margin-bottom: 47px;
  margin-top: 50px;
  box-shadow: 0 5px 15px #00000059;
}

.shimmer-container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  height: -67%;
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.cuisine {
  background-color: #f4ecec;
  border-radius: 5px;
  height: 53px;
  margin-bottom: 9px;
}

@media (max-width: 884px) {
  .top-container {
    width: 90% !important;
  }
}

@media (max-width: 1280px) {
  .top-container {
    width: 62%;
    height: 220px;
    margin: 20px auto 35px;
  }
}
