.filter-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  margin-top: 10px;
  z-index: 50;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px); 
    -webkit-mask-image: linear-gradient(to right, black 85%, transparent 100%);
  mask-image: linear-gradient(to right, black 85%, transparent 100%);
}

@media (max-width: 480px){
  .filter-wrapper{
    flex-wrap: wrap;
  }
}

.chakra-button {
  flex-shrink: 0;
}