.google-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.loginBtn {
  color: #000 !important;
  font-weight: 800 !important;
  border-radius: 10px !important;
  padding: 0 24px !important;
  height: 40px !important;
  box-shadow: 0 4px 15px rgba(255, 204, 0, 0.3);
  background: linear-gradient(120deg, #ffcc00 0%, #ff4d4d 100%) !important;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(255, 204, 0, 0.4);
  }
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modalContent {
  max-height: 600px;
  overflow: auto;
}
