.home-page {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 40px 1rem;
  display: flex;
  flex-direction: column;
  gap: 25px;

  .search {
    display: flex;
    justify-items: center;
  }
}

.restaurant-grid-filter {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
  gap: 0.5rem;
  flex-wrap: wrap;

  button {
    height: 32px;
    font-size: 0.875rem;
    padding: 0 0.75rem;
  }
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

@media (max-width: 1024px) {
  .home-page {
    padding: 32px 16px;
  }
}

@media (max-width: 480px) {
  .home-page {
    padding: 10px;
  }
}

@media (max-width: 360px) {
  .restaurant-grid-filter {
    align-items: flex-start;
  }
}