.searchList {
  width: 100%;
  background-color: #edecec;
  border-radius: 16px;
  max-height: 450px;
  overflow-y: auto;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.1);
  border: 1px solid #edf2f7;
  margin-top: 8px;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: #818181;
    border-radius: 10px;
  }

  .search-item-link {
    display: block;
    text-decoration: none;
    transition: all 0.2s ease;
    border-bottom: 1px solid #f7fafc;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: #dadbdb;

      .restaurant-name {
        color: #ff4d4d;
      }
    }
  }

  .search-item-content {
    padding: 12px 16px;
    align-items: center;
    gap: 15px;
  }

  .restaurant-name {
    font-weight: 700;
    font-size: 14px;
    color: #2d3748;
    transition: color 0.2s ease;
    text-align: left;
  }

  .restaurant-category {
    display: block;
  }

  @media (max-width: 480px) {
    .searchList {
      border-radius: 5px;
    }

    .restaurant-name {
      font-size: 13px;
    }

    .restaurant-category {
      display: none;
    }

    .searchList .search-item-content {
      padding: 10px 14px;
    }
  }
}
